
<html>
  <head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link type="text/css" href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <h2> A Simple ToDo List App </h2>
       <form action ="/addtask" method="POST">
        <input type="text" name="newtask" placeholder="add new task">        <button> Add Task </button>
        <h2> Added Task </h2>

        <% for(var i = 0; i < task.length; i++){ %>
            <li><input id="<%= task[i] %>" type="checkbox" name="check" value="<%= task[i] %>" /><%= task[i] %></li>
        <% } %>

        <button formaction="/removetask" type="submit"> Remove </button>
      </form>
      <h2> Completed task </h2>
<<<<<<< HEAD

        <% for(var i = 0; i < removedTask.length; i++){ %>
            <li><%= removedTask[i] %></li>
        <% } %>

=======
      <% for(var i = 0; i < removedTask.length; i++){ %>
            <li><%= removedTask[i] %></li>
        <% } %>

      
      
>>>>>>> c9fc50fad4f9c669eff031294353297e9a8c3914
       <!-- <% for(var i = 0; i < task.length; i++){ %>
            <h3 id="i"></h3>
    <script>
             document.getElementById("<%= task[i] %>").addEventListener("click", checkList);

    function checkList(){
        var result = document.getElementById("<%= task[i] %>").checked;
        var replace = document.getElementById("i");

        if(result == true){
            replace.innerHTML = document.getElementById("<%= task[i] %>").value;
        }
        else {
            replace.innerHTML = "Not Found";
        }
    }
<<<<<<< HEAD
    </script>
        <% } %> -->
=======
    </script> -->
        <% } %>
>>>>>>> c9fc50fad4f9c669eff031294353297e9a8c3914

    </div>

  </body>
</html>
